/* Write your CSS code here. */

.app-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.feedback {
  background-color: #ffffff;
  width: 80%;
  border-radius: 12px;
  max-width: 606px;
  padding: 23px;
}

@media screen and (min-width: 768px) {
  .feedback {
    padding: 31px;
  }
}

@media screen and (min-width: 992px) {
  .feedback {
    padding: 65px;
  }
}

.feedback-question-container {
  display: flex;
  flex-direction: column;
}

.feedback-container {
  text-align: center;
  color: #0f172a;
  font-size: 19px;
  font-family: 'Roboto';
  font-weight: 500;
}
.btn-action {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}
.list-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 35px;
  padding: 0px;
}

.emoji {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}
.emoji-name {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 15px;
}

.thanks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.love-img {
  width: 55px;
  height: 52px;
}
.thank-you-text {
  text-align: center;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 500;
}
.description {
  text-align: center;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
}
